.greeting {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--primary-text);
    font-weight: 500;
  }
}
