@import "styles/variables";

.footer {
  p {
    text-align: center;
    margin: 0;
    padding: 0 20px;
    color: $secondary-text;

    &:last-child {
      margin-bottom: 25px;
    }

    a {
      color: $secondary-text;
      text-decoration: none;
      font-weight: 500;
    }
  }
}