.navbar {
  width: 100%;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid rgb(236, 239, 241);
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    height: 100%;
    width: 100%;
    max-width: 1168px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 112px;
      height: 20px;
    }

    .menu {
      display: flex;
      flex-direction: row;
      height: 100%;

      div {
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        padding: 0 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          border-bottom: 5px solid rgb(0, 82, 255);
        }
      }

      @media screen and (max-width: 899px) {
        display: none;
      }
    }

    .buttons {
      button {
        border: 0;
        padding: 8px 14px;
        background: rgb(0, 82, 255);
        color: white;
        border-radius: 5px;
        font-weight: 500;

        &.sign-in {
          background: white;
          color: black;

          &:hover {
            color: rgb(0, 82, 255);
          }

          @media screen and (max-width: 899px) {
            display: none;
          }
        }
      }
    }
  }
}