@import "styles/variables";

.navbar {
  width: 100%;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid rgb(236, 239, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;

  .inner {
    height: 100%;
    width: 100%;
    max-width: 1168px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 112px;
      height: 20px;
    }

    .menu {
      display: flex;
      flex-direction: row;
      height: 100%;

      a {
        text-decoration: none;
        color: black;
      }

      div {
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        padding: 0 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          border-bottom: 5px solid rgb(0, 82, 255);
        }
      }

      @media screen and (max-width: 899px) {
        display: none;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      @media screen and (max-width: 559px) {
        gap: 20px;
      }

      button {
        border: 0;
        padding: 8px 14px;
        background: var(--primary-color);
        color: white;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;

        &.signIn {
          background: white;
          color: black;

          &:hover {
            color: var(--primary-color);
          }

          @media screen and (max-width: 899px) {
            display: none;
          }
        }

        &.getStarted {

        }
      }

      .mobileMenuButton {
        display: none;
        position: relative;
        width: 18px;
        height: 17px;
        cursor: pointer;

        @media screen and (max-width: 559px) {
          display: block;
        }

        .openButton {
          position: absolute;
          top: 8px;
          width: 100%;
          height: 2px;
          background-color: rgb(5, 15, 25);
          border-radius: 4px;
          transform: initial;
          transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;

          &:before {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(5, 15, 25);
            border-radius: 4px;
            content: "";
            transform: translateY(-8px);
            transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
          }

          &:after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(5, 15, 25);
            border-radius: 4px;
            content: "";
            transform: translateY(8px) rotate(0deg);
            transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
          }
        }

        .closeButton {
          position: absolute;
          top: 8px;
          width: 100%;
          height: 2px;
          background-color: transparent;
          border-radius: 4px;
          transform: rotate(45deg);
          transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;

          &:before {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(5, 15, 25);
            border-radius: 4px;
            content: "";
            transform: translateY(0px);
            transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
          }

          &:after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(5, 15, 25);
            border-radius: 4px;
            content: "";
            transform: translateY(0px) rotate(-90deg);
            transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
          }
        }
      }
    }
  }
}

.mobileMenu {
  visibility: hidden;
  position: fixed;
  top: 67px;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;

  @media screen and (max-width: 559px) {
    visibility: unset;
  }

  .menuList {
    width: 100%;

    a {
      text-decoration: none;
      color: black;
      width: 100%;
    }

    div {
      font-weight: 500;
      font-size: 16px;
      padding: 20px;
    }
  }

  .buttonList {
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      border: 0;
      padding: 18px 0;
      width: 90%;
      background: var(--primary-color);
      color: white;
      border-radius: 5px;

      &.signIn {
        background: white;
        color: var(--primary-color);
        border: 1.5px solid var(--primary-color);;

        &:hover {
          color: var(--primary-color);
        }
      }

      &.getStarted {

      }
    }
  }
}
