.notfoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;

  div {
    padding: 0 20px;
  }

  .headLine {
    font-size: 24px;
    font-weight: 500;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
  }

  .backButton {
    margin-top: 20px;

    button {
      margin: 0;
      padding: 10px 40px;
      border: 1px solid #333;
      border-radius: 4px;
      background-color: white;
    }
  }
}
