.notfoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;

  @media (max-width: 559px) {
    margin-top: 0;
  }

  div {
    padding: 0 20px;
  }

  .headLine {
    font-size: 28px;
    font-weight: 500;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .backButton {
    margin-top: 10px;

    button {
      margin: 0;
      padding: 10px 40px;
      border: 1px solid #333;
      border-radius: 4px;
      background-color: white;
      text-decoration: none;
      color: black;
      font-size: 14px;
    }
  }
}
